<hr>
<!-- Sidebar navigation-->
<nav class="sidebar-nav">
    <ul class="list-unstyled components">
        <li>
            <a [routerLink]="['/Administration/Authors']">Autores</a>
        </li>
        <li>
            <a [routerLink]="['/Administration/Books']">Libros</a>
        </li>
        <li>
            <a [routerLink]="['/Administration/SyncUp']">Sincronizar</a>
        </li>
        <li>
            <a [routerLink]="['/Login']">Logout</a>            
        </li>
    </ul>

</nav>
<!-- End Sidebar navigation -->
